@{
    ViewData["Title"] = "WishList Index";
        Layout = "~/Views/Shared/_Layout.cshtml";

}

    @model IEnumerable<Product>


<main id="main" class="mainWish">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs mr-0">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>WishList Index</h2>
          <ol>
            <li><a asp-controller="Product" asp-action="Index" asp-route-exp="all" asp-route-match="">Products</a></li>
            <li>WishList Index</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Order Details Section ======= -->
    @if (@Model.Count() == 0)
    {
        <div class="p-3" style="margin-left:270px;">
				<img src="~/img/empty-wishlist.png" class="mt-10 w-75 h-75" alt="Wishlist">
			</div>
    }



    @foreach(var wish in @Model){
       <section id="portfolio-details" class="portfolio-details all p-2 sec-@wish.Id">
          <div class="container" style="margin-left:10%;">
            <div class="row gy-4">        
              <div class="col-lg-10">
                <div class="portfolio-info ">
                    <div class="row ">
                        <div class="col-6">
                            <img src=@wish.Image style="width:230px;height:120px;" />
                        </div>
                        <ul class="col-5">
                            <li><strong>Name</strong>: &nbsp;&nbsp;&nbsp;&nbsp; @wish.Name &nbsp;&nbsp;</li>
                            <li><strong>Price</strong>: &nbsp;&nbsp;&nbsp;&nbsp; @wish.Price &nbsp;&nbsp;</li>
                            <li>
                                <div class="row-sm-10 d-flex flex-row mt-12" style="margin:auto;margin-top:5%;">
                                    <a  class="btn btn-outline-primary ml-5 addcart" value=@wish.Price id=@wish.Id>
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                        Add To Cart
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <div class="col-1 " style="margin:auto;">
                            <a class="wish" title="Delete From WishList" style="cursor: pointer;"><i class="fa fa-close text-danger" value=@wish.Id ></i></a>
                        </div>
                           @* <div class="col-1 " style="margin:auto;">
                                <button data-toggle="tooltip" data-placement="top" title="delete" class="btn btn-link btn-simple-danger mt-1" onclick="location.href='@Url.Action("Delete","WishList")';">
                                    <i class="fa fa-close text-danger"></i>
                                </button>
                            </div>*@
                        </div>
                    </div>
              </div>
           </div>
         </div>
      </section><!-- End Portfolio Details Section -->
  }
  

      <div class="row-sm-10 d-flex flex-row mt-12" style="margin:auto;margin-top:5%;">
            <a  class="btn btn-outline-danger ml-5"  id ="reset"><i class="fa fa-trash-o" aria-hidden="true"></i>
            Reset WishList</a>
             </div>
   
       <script type="text/javascript" >

           manageWish();
           reset();
            manageCart();
           $('.cartElements').remove();
           $('.totalNum').remove();
         

         $.ajax({
			    type:"GET",
			    url: '@(Url.Action("addProduct","ProductOrder"))',
                data :{
                    productId: 0,
                    quantity: 0,
                    price : -1
                },
			    dataType:"json",
			    success:function(result){                                  
                        let  cartContent = 0;
                        let  totalPrice = 0;
                        $.each(result,function(key,value){
                            cartContent += 1;
                            totalPrice += value.price;
                            $("<a class='border-bottom cartElements' href='https://localhost:7068/Product/Detail/"+value.id+"' id='notify-"+value.id+"'>"+value.name+"<p>"+value.price+"</p><img  style='width:25%;height:25%;' src='"+value.image+"'/></a>").insertBefore("#cartBefore");
                        });
                        $(" <a class='totalNum'>TOTAL: "+totalPrice+"</a>").insertBefore("#cartBefore");
                        $("#totalOrderDetail").text(""+totalPrice);
                        $('#cartNumber').text(cartContent);
                        if (cartContent > 0 ){
                            $('#cartNumber').css("opacity","1");
                        } else {
                            $('#cartNumber').css("opacity","0");
                        }
                                
                },
			    error: function(req, status, error){
			    console.log(status);
			    }
                });

             function manageWish(){
                     $('.wish').click(function(event){
                     let val =$(event.target).attr("value");   
                     let valId= parseInt(val);
                     console.log(valId);
                     
		             $.ajax({
			            type:"GET",
			            url: '@(Url.Action("deleteId","WishList"))',
                        data :{
                            id: valId
                        },
			            dataType:"json",
			            success:function(result){
                            console.log(result);
                            var wishNumber = parseInt($('#wishNumber').text());
                            $('.sec-'+valId).remove();

                                 if (wishNumber != 1)
                                    $('#wishNumber').text(wishNumber-1);
                                 else{
                                    $('#wishNumber').text('0');
                                    $('#wishNumber').css("opacity","0");
                                   
                                 }
                             
                             
                        },
			            error: function(req, status, error){
			            console.log(status);
			            }
                        });


                      });

             }

             function reset(){
                 $('#reset').click(function(){
                     $.ajax({
			            type:"GET",
			            url: '@(Url.Action("deleteAll","WishList"))',
			            dataType:"json",
			            success:function(result){
                            console.log(result);
                            $('.all').remove();
                            $('#wishNumber').text('0');
                            $('#wishNumber').css("opacity","0");
                             
                        },
			            error: function(req, status, error){
			            console.log(status);
			            }
                        });


                      });

                     



             
             
             }

              function manageCart(){

                          
                            $('.addcart').click(function(event){
                              let val = $(event.target).attr("value");   
                              let valPrice = parseFloat(val);
                              let prodIdVal = $(event.target).attr("id");
                              let prodId = parseInt(prodIdVal);
                              
                             
                              console.log(valPrice);

                              $.ajax({
			                    type:"GET",
			                    url: '@(Url.Action("addProduct","ProductOrder"))',
                                data :{
                                    productId: prodId,
                                    quantity: 1,
                                    price : valPrice
                                },
			                    dataType:"json",
			                    success:function(result){                                  
                                    
                                     let  cartContent = 0;
                                     let totalPrice = 0;
                                     $('.cartElements').remove();
                                     $('.totalNum').remove();
                                     $.each(result,function(key,value){
                                         cartContent += 1;
                                         totalPrice += value.price;
                                         $("<a class='border-bottom cartElements' href='https://localhost:7068/Product/Detail/"+value.id+"' id='notify-"+value.id+"'>"+value.name+"<p>"+value.price+"</p><img  style='width:25%;height:25%;' src='"+value.image+"'/></a>").insertBefore("#cartBefore");
                                     });
                                      $(" <a class='totalNum'>TOTAL: "+totalPrice+"</a>").insertBefore("#cartBefore");
                                      $('#cartNumber').text(cartContent);
                                     if (cartContent > 0 ){
                                         $('#cartNumber').css("opacity","1");
                                     } else {
                                         $('#cartNumber').css("opacity","0");
                                     }
                                  
                                     
                                
                                },
			                    error: function(req, status, error){
			                    console.log(status);
			                    }
                                });




                              
                                  });
                                 
                         
                      
             }






        </script>
  </main><!-- End #main -->

  