@{
    ViewData["Title"] = "Product Detail";
        Layout = "~/Views/Shared/_Layout.cshtml";

}

    @model Product


<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs mr-0">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Product Details</h2>
          <ol>
            <li><a asp-controller="Product" asp-action="Index" asp-route-exp="all" asp-route-match="">Product</a></li>
            <li>Product Details</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-7">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">


                <div class="swiper-slide">
                  <img src=@Model.Image style="height:320px;" alt="">
                </div>
               
                @if(@Model.Photos != null){
                  @foreach(var item in @Model.Photos){
                        <div class="swiper-slide">
                          <img src=@item.Path style="height:320px;" alt="">
                        </div>
                   }
                }
                @*<div class="swiper-slide">
                  <img src="assets/img/portfolio/portfolio-details-2.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/img/portfolio/portfolio-details-3.jpg" alt="">
                </div>*@

              </div>
              <div class="swiper-pagination"></div>
            </div>

            <div class="portfolio-info ">
               <h3>Description</h3>

               
                



              <p>
                  @Model.Description
              </p>
            </div>


          </div>

          <div class="col-lg-5">
            <div class="portfolio-info ">
              <h3>@Model.Name</h3>
              <ul id="descript">




























@*                <li><strong>Name</strong>: &nbsp;&nbsp;&nbsp;&nbsp; @Model.Name</li>
*@




            




















@*               <li><strong>SKU</strong>: @Model.Sku</li>
*@                @if (@Model.Category !=null)
                {
                    <li><strong>Category</strong>: &nbsp;&nbsp;&nbsp;&nbsp; @Model.Category.Name</li>
                }
                <li value=@Model.Price id="price-@Model.Id"><strong>Price</strong>: &nbsp;&nbsp;&nbsp;&nbsp; @Model.Price</li>
                
@*                <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>                  
           *@              @if (@Model.ProductSpecificationValues != null)
                            {
                                @foreach (var spec in @Model.ProductSpecificationValues)
                                {
                                    @if ((@spec.Value).Contains("~"))
                                    {
                                        char[] @spearator = {'~'};

@*                                        String[] @names = (@spec.Specification.Name).Split(@spearator);
*@                                        String[] @values = (@spec.Value).Split(@spearator);
                                        int @i = 0;

                                         <div class="select-boxSelect w-50" >
                                            <div class="options-containerSelect border border-secondary">
                                                 
                                                @foreach(String s in @values)
		                                            {
                                                        <input type='radio' class='radio' name=@spec.Specification.Name value=@s /> <label for=@spec.Specification.Name > @s</label>
                                                    }

                                            </div>
                                            <div class="selectedSelect bg-[#1e293b] text-white " >
                                            Select category
                                            </div>
                                            <div class="search-boxSelect bg-[#74c3eb] "  >
                                            <input type="text" placeholder="Search.." />
                                            </div>
                                        </div>
                                    }
                                    else 
                                    {
                                        <li><strong>@spec.Specification.Name</strong>: &nbsp;&nbsp;&nbsp;&nbsp; @spec.Value</li>
                                    }

                            }
                             }
                       
            <li class="row mb-3 mt-2 ml-4">
                    <label  class="col-sm-3 form-label font-weight-bold"><strong>Quantity:</strong></label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control quantity" id="quantity-@Model.Id" value="1">
                    </div>
                </li>

                <li id="totalAfterQuantity"><strong>Total</strong>: &nbsp;&nbsp;&nbsp;&nbsp; @Model.Price</li>
            
                 </ul>

            @*<i class='fa fa-shopping-cart'></i>*@
@*
             <div class="row mb-3 mt-4 ml-4">
            <label  class="col-sm-3 form-label font-weight-bold"><strong>Quantity:</strong></label>
            <div class="col-sm-9">
                <input type="number" "class="form-control" >
            </div>
           </div>

*@          
            
            @if (ViewBag.UserName != null){
            <div class="row-sm-10 d-flex flex-row mt-12">
            <a  class="btn btn-outline-primary ml-5 addcart" id="addcart-@Model.Id"><i class='fa fa-cart-plus'></i>
            Add to Cart</a>
            <div class="ml-2">  &nbsp;&nbsp;&nbsp;&nbsp; </div>
            @if(@Model.Sku != "wish"){
                <a  class="btn  btn-outline-danger ml-5 " id="addwish" value=@Model.Id><i class="fa fa-heart" aria-hidden="true"></i>
                Add to WishList</a>
            }else{
                <a  class="btn  btn-outline-danger ml-5 " id="addwish" value=@Model.Id>
                Remove from WishList</a>
            }
             </div>
             }
             




            </div>


             @if (ViewBag.UserName != null){
             <div class="star-widget" style="margin-right:18%;">
 
                <input type="radio" name="rating" id="rate-5" class="btns starInput" value="5" >
                <label for="rate-5" class="fa fa-star"></label>
                <input type="radio" name="rating" id="rate-4" class="btns starInput" value="4">
                <label for="rate-4" class="fa fa-star"></label>
                <input type="radio" name="rating" id="rate-3" class="btns starInput" value="3">
                <label for="rate-3" class="fa fa-star"></label>
                <input type="radio" name="rating" id="rate-2" class="btns starInput" value="2">
                <label for="rate-2" class="fa fa-star"></label>
                <input type="radio" name="rating" id="rate-1" class="btns starInput" value="1">
                <label for="rate-1" class="fa fa-star"></label>
                  <header></header>
                  
                </div>

            }
             




            @*<div class="portfolio-description">
              <h2>Description</h2>
              <p>
                  @Model.Description
              </p>
            </div>*@
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->
@*
    <script>

         const selected = document.querySelector(".selectedSelect");
         const optionsContainer = document.querySelector(".options-containerSelect");
         const searchBox = document.querySelector(".search-boxSelect input");
         const optionsList = document.querySelectorAll(".option");


    selected.addEventListener("click", () => {
        optionsContainer.classList.toggle("active");
        searchBox.value = "";
        filterList("");
    });



     searchBox.addEventListener("keyup", function (e) {
        filterList(e.target.value);
    });

    const filterList = searchTerm => {
        searchTerm = searchTerm.toLowerCase();
        var i = 0;
        optionsList.forEach(option => {
            let label = option.firstElementChild.nextElementSibling.innerText.toLowerCase();
            if (label.indexOf(searchTerm) != -1) {
                option.style.display = "block";
                if (i==0)
                    option.setAttribute("id", "option1");
                else
                    option.removeAttribute("id", "null");
                i = i + 1;
            } else {
                option.style.display = "none";
                option.removeAttribute("id", "null");
            }
        });
    }

                       



    </script>

*@
    <script type="text/javascript">

         let json_model4 = '@Html.Raw(Json.Serialize(ViewBag.userName))';
        var user = JSON.parse(json_model4);
       

        if (user != null){
            manageWish();
            manageCart();
            manageRating();
             $('.cartElements').remove();
         $('.totalNum').remove();
         

         $.ajax({
			    type:"GET",
			    url: '@(Url.Action("addProduct","ProductOrder"))',
                data :{
                    productId: 0,
                    quantity: 0,
                    price : -1
                },
			    dataType:"json",
			    success:function(result){                                  
                        let  cartContent = 0;
                        let totalPrice = 0;
                        $.each(result,function(key,value){
                            cartContent += 1;
                            totalPrice += value.price;
                            $("<a class='border-bottom cartElements' href='https://localhost:7068/Product/Detail/"+value.id+"'id='notify-"+value.id+"' >"+value.name+"<p>"+value.price+"</p><img  style='width:25%;height:25%;' src='"+value.image+"'/></a>").insertBefore("#cartBefore");
                        });
                        $(" <a class='totalNum'>TOTAL: "+totalPrice+"</a>").insertBefore("#cartBefore");
                        $('#cartNumber').text(cartContent);
                        if (cartContent > 0 ){
                            $('#cartNumber').css("opacity","1");
                        } else {
                            $('#cartNumber').css("opacity","0");
                        }
                                
                },
			    error: function(req, status, error){
			    console.log(status);
			    }
                });



               // isinCart();

        }


        function manageRating(){
            let all = $('.quantity').attr("id");
            let splitter = all.split("-");
            let prodId = parseInt(splitter[1]);
             $.ajax({
			    type:"GET",
			    url: '@(Url.Action("getRating","Rating"))',
                data :{
                    productId: prodId,
                   
                },
			    dataType:"json",
			    success:function(result){  
                    if (result != "0"){
                     $('#rate-'+result).click();
                    }
                    
                                
                },
			    error: function(req, status, error){
			    console.log(status);
			    }
                });
                $('.starInput').click(function(event){
                    let val = $(event.target).attr("value");
                    let all = $('.quantity').attr("id");
                    let splitter = all.split("-");
                    let prodId = parseInt(splitter[1]);
                     $.ajax({
			            type:"GET",
			            url: '@(Url.Action("manageRating","Rating"))',
                        data :{
                            productId: prodId,
                            value: parseInt(val)
                   
                        },
			            dataType:"json",
			            success:function(result){  
                           
                                
                        },
			            error: function(req, status, error){
			            console.log(status);
			            }
                        });







                
                
                
                })


        }


       


         function manageCart(){

                          
                             
                             $(".quantity").bind("keyup", function(event){
                              
                                  let quantity = $(event.target).val();
                                  let valQuantity = parseInt(quantity);
                                  let all = $(event.target).attr("id");
                                  let splitAll = all.split("-");
                                  let price = $('#price-'+splitAll[1]).attr("value");
                                  let valPrice = parseFloat(price);
                                  let num = valPrice*valQuantity;
                                  $("#totalAfterQuantity").remove();
                                  $('#descript').append("<li id='totalAfterQuantity'><strong>Total</strong>: &nbsp;&nbsp;&nbsp;&nbsp; "+num+"</li>");
                              });
                            $('.addcart').click(function(event){
                                   let all = $(event.target).attr("id");
                                  let splitter = all.split("-");

                                  let quantity = $('.quantity').val();
                                  let valQuantity = parseInt(quantity);
                                  let price = $('#price-'+splitter[1]).attr("value");
                                  let valPrice = parseFloat(price);
                                  let num = valPrice*valQuantity;
                             
                              $.ajax({
			                    type:"GET",
			                    url: '@(Url.Action("addProduct","ProductOrder"))',
                                data :{
                                    productId: parseInt(splitter[1]),
                                    quantity: valQuantity,
                                    price : valPrice
                                },
			                    dataType:"json",
			                    success:function(result){                                  
                                     let  cartContent = 0;
                                     let totalPrice = 0;
                                     $('.cartElements').remove();
                                     $('.totalNum').remove();
                                     $.each(result,function(key,value){
                                         cartContent += 1;
                                         totalPrice += value.price;
                                         $("<a class='border-bottom cartElements' href='https://localhost:7068/Product/Detail/"+value.id+"' id='notify-"+value.id+"'>"+value.name+"<p>"+value.price+"</p><img  style='width:25%;height:25%;' src='"+value.image+"'/></a>").insertBefore("#cartBefore");
                                     });
                                      $(" <a class='totalNum'>TOTAL: "+totalPrice+"</a>").insertBefore("#cartBefore");
                                      $('#cartNumber').text(cartContent);
                                     if (cartContent > 0 ){
                                         $('#cartNumber').css("opacity","1");
                                     } else {
                                         $('#cartNumber').css("opacity","0");
                                     }



                                
                                },
			                    error: function(req, status, error){
			                    console.log(status);
			                    }
                                });




                              
                                  });
                         
                      }

                       function manageWish(){
                     $('#addwish').click(function(event){
                     let val =$(event.target).attr("value");   
                     let valId= parseInt(val);
                     let heart = $(event.target);
		             $.ajax({
			            type:"GET",
			            url: '@(Url.Action("manage","WishList"))',
                        data :{
                            productId: valId,
                            subtitle: ""
                        },
			            dataType:"json",
			            success:function(result){
                            console.log(result);
                            var wishNumber = parseInt($('#wishNumber').text());
                            if (result == "Add")
                            {
                                
                                 $(event.target).text("Remove from WishList");
                               
                                 if (wishNumber != 0){
                                    $('#wishNumber').text(wishNumber+1);

                                 }
                                 else{
                                    $('#wishNumber').text('1');
                                    $('#wishNumber').css("opacity","1");
                                 }
                                 

			                 }
                             if (result == "Delete")
                             {
                                   $(event.target).html("<i class='fa fa-heart' aria-hidden='true'></i> Add to WishList");
                                 if (wishNumber != 1)
                                    $('#wishNumber').text(wishNumber-1);
                                 else{
                                    $('#wishNumber').text('0');
                                    $('#wishNumber').css("opacity","0");
                                 }
                             
                             }
                        },
			            error: function(req, status, error){
			            console.log(status);
			            }
                        });


                      });




                     

             }
        


    </script>
  </main><!-- End #main -->

  