@{
    ViewData["Title"] = "Product Detail";
        Layout = "~/Views/Shared/_OrderLayout.cshtml";

}

    @model Product


<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs mr-0">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Product Details</h2>
          <ol>
            <li><a href="index.html">Product</a></li>
            <li>Product Details</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-7">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">


                <div class="swiper-slide">
                  <img src=@Model.Image style="height:320px;" alt="">
                </div>

                @if(@Model.Photos != null){
                  @foreach(var item in @Model.Photos){
                        <div class="swiper-slide">
                          <img src=item alt="">
                        </div>
                   }
                }
                @*<div class="swiper-slide">
                  <img src="assets/img/portfolio/portfolio-details-2.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/img/portfolio/portfolio-details-3.jpg" alt="">
                </div>*@

              </div>
              <div class="swiper-pagination"></div>
            </div>

            <div class="portfolio-info ">
               <h3>Description</h3>

               
                



              <p>
                  @Model.Description
              </p>
            </div>


          </div>

          <div class="col-lg-5">
            <div class="portfolio-info ">
              <h3>@Model.Name</h3>
              <ul>




























@*                <li><strong>Name</strong>: &nbsp;&nbsp;&nbsp;&nbsp; @Model.Name</li>
*@




            




















@*               <li><strong>SKU</strong>: @Model.Sku</li>
*@                @if (@Model.Category !=null)
                {
                    <li><strong>Category</strong>: &nbsp;&nbsp;&nbsp;&nbsp; @Model.Category.Name</li>
                }
                <li><strong>Price</strong>: &nbsp;&nbsp;&nbsp;&nbsp; @Model.Price</li>
                
@*                <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>                  
           *@              @if (@Model.ProductSpecificationValues != null)
                            {
                                @foreach (var spec in @Model.ProductSpecificationValues)
                                {
                                    @if ((@spec.Value).Contains("~"))
                                    {
                                        char[] @spearator = {'~'};

@*                                        String[] @names = (@spec.Specification.Name).Split(@spearator);
*@                                        String[] @values = (@spec.Value).Split(@spearator);
                                        int @i = 0;

                                         <div class="select-boxSelect w-50" >
                                            <div class="options-containerSelect border border-secondary">
                                                 
                                                @foreach(String s in @values)
		                                            {
                                                        <input type='radio' class='radio' name=@spec.Specification.Name value=@s /> <label for=@spec.Specification.Name > @s</label>
                                                    }

                                            </div>
                                            <div class="selectedSelect bg-[#1e293b] text-white " >
                                            Select category
                                            </div>
                                            <div class="search-boxSelect bg-[#74c3eb] "  >
                                            <input type="text" placeholder="Search.." />
                                            </div>
                                        </div>
                                    }
                                    else 
                                    {
                                        <li><strong>@spec.Specification.Name</strong>: &nbsp;&nbsp;&nbsp;&nbsp; @spec.Value</li>
                                    }

                            }
                             }
                        </ul>

            <li class="row mb-3 mt-4 ml-4">
                    <label  class="col-sm-3 form-label font-weight-bold"><strong>Quantity:</strong></label>
                    <div class="col-sm-9">
                        <input type="number" "class="form-control" >
                    </div>
                </li>

            @*<i class='fa fa-shopping-cart'></i>*@
@*
             <div class="row mb-3 mt-4 ml-4">
            <label  class="col-sm-3 form-label font-weight-bold"><strong>Quantity:</strong></label>
            <div class="col-sm-9">
                <input type="number" "class="form-control" >
            </div>
           </div>

*@

            <div class="row-sm-10 d-flex flex-row mt-12">
            <button type="button" class="btn btn-outline-primary ml-5" onclick="location.href='@Url.Action("Detail","Product")';"><i class='fa fa-cart-plus'></i>
            Add to Cart</button>
            <div class="ml-2">  &nbsp;&nbsp;&nbsp;&nbsp; </div>
            <button type="button" class="btn  btn-outline-danger ml-5 " onclick="location.href='@Url.Action("Detail","Product")';"><i class="fa fa-heart" aria-hidden="true"></i>
            Add to WishList</button>
             </div>

             




            </div>



             <div class="star-widget" style="margin-right:18%;">
 
                <input type="radio" name="rating" id="rate-5" class="btns" value="5">
                <label for="rate-5" class="fa fa-star"></label>
                <input type="radio" name="rating" id="rate-4" class="btns" value="4">
                <label for="rate-4" class="fa fa-star"></label>
                <input type="radio" name="rating" id="rate-3" class="btns" value="3">
                <label for="rate-3" class="fa fa-star"></label>
                <input type="radio" name="rating" id="rate-2" class="btns" value="2">
                <label for="rate-2" class="fa fa-star"></label>
                <input type="radio" name="rating" id="rate-1" class="btns" value="1">
                <label for="rate-1" class="fa fa-star"></label>
                  <header></header>
                  
                </div>


             




            @*<div class="portfolio-description">
              <h2>Description</h2>
              <p>
                  @Model.Description
              </p>
            </div>*@
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->
    <script>
         const selected = document.querySelector(".selectedSelect");
         const optionsContainer = document.querySelector(".options-containerSelect");
         const searchBox = document.querySelector(".search-boxSelect input");
         const optionsList = document.querySelectorAll(".option");


    selected.addEventListener("click", () => {
        optionsContainer.classList.toggle("active");
        searchBox.value = "";
        filterList("");
    });



     searchBox.addEventListener("keyup", function (e) {
        filterList(e.target.value);
    });

    const filterList = searchTerm => {
        searchTerm = searchTerm.toLowerCase();
        var i = 0;
        optionsList.forEach(option => {
            let label = option.firstElementChild.nextElementSibling.innerText.toLowerCase();
            if (label.indexOf(searchTerm) != -1) {
                option.style.display = "block";
                if (i==0)
                    option.setAttribute("id", "option1");
                else
                    option.removeAttribute("id", "null");
                i = i + 1;
            } else {
                option.style.display = "none";
                option.removeAttribute("id", "null");
            }
        });
    }

                       



    </script>

  </main><!-- End #main -->

  