
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
	
}

@model UserRoleVM


<div class="d-flex flex-row text-right">

    <nav aria-label="breadcrumb" class="absolute left-5">
	    <ol class="breadcrumb bg-white">
		    <li class="breadcrumb-item active text-xl" style="color:black" aria-current="page">Users</li>
	    </ol>
    </nav>
</div>


<div class="mt-14">

	<!-- Table -->
	<div class="table-responsive">
		<table id="add-row" class="display table table-striped table-hover text-center" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>
						First Name
					</th>
					<th>
						Last Name
					</th>
					<th>
						Email
					</th>
					<th>
						Phone Number
					</th>
					<th>
						Address
					</th>
					<th>
						Roles
					</th>
					<th>
						Creation Date
					</th>
					<th>Action</th>
				</tr>
			</thead>
			<tfoot>
				<tr></tr>
			</tfoot>
			<tbody>
			@if(Model.Users != null && Model.Users.Count() > 0)
			{
					
				@foreach(var item in Model.Users)
				{
					<tr>
						<td>
							@item.FirstName
						</td>
						<td>
							@item.LastName
						</td>
						<td>
							@item.Email
						</td>
						<td>
							@item.PhoneNumber
						</td>
						<td>
							<span class="addressPartialCaller btn border-0" data-toggle="modal" data-target="#addressMainModel" item-id="@item.Id"> 
								<i class='fas fa-angle-down text-primary text-3xl'></i>
							</span>
						</td>
						<td>
							<span class="rolesPartialCaller btn border-0" data-toggle="modal" data-target="#roleMainModal" item-id="@item.Id"> 
								<i class='fas fa-angle-down text-primary text-3xl'></i>
							</span>
						
						</td>

					
						<td>
							@if(item.CreatedDate != null){
								@item.CreatedDate.ToString("g");
							}
							else
							{
								@Html.Raw("No Date")
							}
						</td>
						<td>
							<div class="form-button-action">
						
								<span data-toggle="modal" data-target=@("#deleteModal" + @item.Id.ToString()) item-target = "@item.Id">
									<button data-toggle="tooltip" data-placement="top" title="Remove" class="btn btn-link btn-simple-danger mt-1"> 
										<i class="fa fa-times"></i>       
									</button>
								</span>




								<div id=@("deleteModal" + @item.Id.ToString()) class="modal fade">
									<div class="modal-dialog modal-confirm">
										<div class="modal-content">
											<div class="modal-header flex-column">
												<div class="icon-box">
													<i class="material-icons">&#xE5CD;</i>
												</div>						
												<h4 class="modal-title w-100">Are you sure?</h4>	
												<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
											</div>
											<div class="modal-body">
												<p>Do you really want to delete? This process cannot be undone.</p>
											</div>
											<div class="modal-footer justify-content-center">
												<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
												<form method="post" asp-controller="@ViewBag.deleteController" asp-action="@ViewBag.deleteAction">
													<input name="Id" value="@item.Id" hidden>
													<button type="submit" class="btn btn-danger">Delete</button>
												</form>
											</div>
										</div>
									</div>
								</div>  
							</div>
						</td>
					</tr>
				}
			}
			</tbody>
		</table>
		<div class="modal fade" id="addressMainModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title font-weight-bold" id="exampleModalLabel"> Addresses</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body overflow-auto">
										
						<div id="addressPartial-0" class="card mt-2 rounded">
				
						</div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
					</div>
				</div>
			</div>
		</div>


		<div class="modal fade" id="roleMainModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title font-weight-bold" id="exampleModalLabel"> Roles</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body overflow-auto">
										
						<div id="rolePartial-0" class="card mt-2 rounded">
							<div id="role-tab">
							
							</div>
						</div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	

@section Scripts{
	<script>
		$('#add-row').DataTable({
			"pageLength": 5,
		});


	</script>

	<script>
		$(".addressPartialCaller").click(function(){
                let addressPartialId = "#addressPartial-0";
				let userId = $(this).attr("item-id");
				let token = '@(ViewBag.Token)';
                $.ajax({  
                    type: "GET",  
                    url: '/Address/GetAddressByUserId',  
                    data: {"userId" : userId},
					beforeSend: function(xhr) {
						xhr.setRequestHeader('Authorization', 'Bearer ' + token);
					},
                    success: function(data){
					 let content = ""
					 for(let i in data){
						 content += '<div class="row mb-3 mt-4 ml-4">  <div class="col-sm-11"> <span class="form-control">'+ data[i] + ' </span></div></div>'
					 }
                     $(addressPartialId).html(content);
                    },
                    error: function(xhr, status, error) {
                        alert(status);
                    }
                });
        });

		$(".rolesPartialCaller").click(function(){
                let rolePartialId = "#rolePartial-0";
				let userId = $(this).attr("item-id");
				let roles = @Html.Raw(Json.Serialize(Model.Roles));
				let token = '@(ViewBag.Token)';
                $.ajax({  
                    type: "GET",  
                    url: '/Role/GetRoleByUserId',  
                    data: {"userId" : userId},
					beforeSend: function(xhr) {
						xhr.setRequestHeader('Authorization', 'Bearer ' + token);
					},
                    success: function(data){
					 let content = "";
					 for(let i in roles){
						let role = roles[i];
						let cls = "";
						if(data.includes(role))
							cls = "border-l-8";
						content += '<div class="box"> <div item-id="' + userId + '" role-name="' + role + '"  class="roleContainer card-header hover:cursor-pointer hover:border-l-8 text-[#000000] border-[#48abf7] ' + cls + '" aria-expanded="false">' + role + ' </div>   </div>';
					 }	
                     $(rolePartialId).html(content);
					 roleContainerConfigure();
                    },
                    error: function(xhr, status, error) {
                        alert(status);
                    }
                });
        });

		function roleContainerConfigure(){
			$(".roleContainer").click(function(){
				$(this).toggleClass("border-l-8");
				let userId = $(this).attr("item-id");
				let role = $(this).attr("role-name");
				let token = '@(ViewBag.Token)';
				$.ajax({  
                    type: "GET",  
                    url: '/Role/ToggleRole',  
                    data: {"role" : role, "userId" : userId},
					beforeSend: function(xhr) {
						xhr.setRequestHeader('Authorization', 'Bearer ' + token);
					},
                    success: function(){
					
                    },
                    error: function(xhr, status, error) {
                        alert(status);
                    }
                });
			});
		}
	</script>
}