@{
    ViewData["Title"] = "Product Order Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    @model OrderVM




<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs mr-0">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Order Details</h2>
          <ol>
            <li><a href="index.html">Order</a></li>
            <li>Order Details</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->





 
    <!-- ======= Portfolio Section ======= -->
    <section  class="portfolio" style="overflow:inherit;">
      <div class="container">
        <div class="text-center">





          <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Image</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Price</th>

                </tr>
              </thead>
              <tbody>
                    @{
                        var i = 0;
                    }
                    @foreach (var prod in @Model.Products) {
                        <tr>
                            <th scope="row">@i</th>
                            <td>@prod.Name</td>
                            <td>
                                <div class="p-1 justify-content-center d-flex">
								 <img  src="@prod.Image" style="width:18%;height:18%;">
							   </div>
                            </td>
                            <td>@Model.ProductsOrder[@i].Quantity</td>
                            <td>@Model.ProductsOrder[@i].Price</td>
                            

                        </tr>
                       i++;
                    }
                  
              </tbody>
            </table>

            
         </div>
      </div>
    </section><!-- End Portfolio Section -->
   </main>

    