


@model CategoryVM



<p>
    @Model.Category.Name
</p>
<p>
    @Model.Category.Image
</p>
<p>
    @Model.Category.Description
</p>
<p>
   @Model.SpecificationValues.Count()
   <br />
   @string.Join("-", Model.SpecificationValues)
</p>