@{
    ViewData["Title"] = "Order Detail";
        Layout = "~/Views/Shared/_Layout.cshtml";

}

    @model OrderVM


<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs mr-0">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Order Details</h2>
          <ol>
            <li><a asp-controller="Product" asp-action="Index" asp-route-exp="all" asp-route-match="">Products</a></li>
            <li>Order Details</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Order Details Section ======= -->
    @{var i =0;}
    @foreach(var prod in @Model.Products){
        var subtotal = (@prod.Price * @Model.ProductsOrder[i].Quantity);
        <section id="portfolio-details" class="portfolio-details p-2">
          <div class="container" style="margin-left:10%;">
            <div class="row gy-4">        
              <div class="col-lg-10">
                <div class="portfolio-info ">
                    <div class="row ">
                       <div class="col-4">
                            <img src=@prod.Image style="width:230px;height:120px;" />
                        </div>
                        <ul class="col-4 p-2">
                            <li ><strong>Name</strong>: &nbsp;&nbsp;&nbsp;&nbsp; @prod.Name &nbsp;&nbsp;</li >
                            <li ><strong>Price</strong>: &nbsp;&nbsp;&nbsp;&nbsp; @prod.Price &nbsp;&nbsp;</li >
                     
                            <li class="row mb-2 mt-3 ml-4">
                                <label  class="col-sm-3 form-label font-weight-bold"><strong>Quantity: </strong></label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control w-25 h-75" value=@Model.ProductsOrder[i].Quantity>
                                </div>                 
                             </li>
                        </ul>

                        <ul class="col-4 border-sm-start-none border-start p-3">
                             <li><strong>&nbsp;&nbsp;Total</strong>: &nbsp;&nbsp;&nbsp;&nbsp; @subtotal</li>
                              <li>&nbsp;&nbsp;<button type="button" class="btn btn-outline-danger ml-5" onclick="location.href='@Url.Action("Detail","Product")';"><i class="fa fa-trash-o" aria-hidden="true"></i>
                               Delete Product</button></li>
                        </ul>
                        @*<div class="col-1 " style="margin:auto;">
                           <button data-toggle="tooltip" data-placement="top" title="delete" class="btn btn-link btn-simple-danger mt-1"> 
									    <i class="fa fa-close text-danger"></i>       
						    </button>
                        </div>*@
                   </div>
                </div>
              </div>
           </div>
         </div>
      </section><!-- End Portfolio Details Section -->

      i++;

  }

@*

   <section id="portfolio-details" class="portfolio-details" >
      <div class="container" style="margin-left:10%;">

        <div class="row gy-4">

         
          <div class="col-lg-10">
            <div class="portfolio-info ">
              <h3>blahhhhh</h3>



     <div class="row ">
              <ul class="col-5">



<li><strong>Price</strong>: &nbsp;&nbsp;&nbsp;&nbsp; 9000000 &nbsp;&nbsp;
</li>



                       

            <li class="row mb-2 mt-3 ml-4">
                    <label  class="col-sm-3 form-label font-weight-bold"><strong>Quantity: </strong></label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control w-25 h-75" >
                    </div>
                
                </li>
                
            

                <li><strong>Total</strong>: &nbsp;&nbsp;&nbsp;&nbsp; 9000000</li>

                  </ul>


                  <div class="col-6">


                    <img src="~/img/more-services-1.jpg " style="width:230px;height:120px;" />
                  </div>
                   <div class="col-1 " style="margin:auto;">

                    <a href="#"><i class="fa fa-close text-danger" ></i></a>
                  </div>
                  </div>

          

             




            </div>
              </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

*@

              <div class="row-sm-10 d-flex flex-row mt-12" style="margin:auto;margin-top:5%;">
            <button type="button" class="btn btn-outline-danger ml-5" onclick="location.href='@Url.Action("Detail","Product")';"><i class="fa fa-trash-o" aria-hidden="true"></i>
            Reset Cart</button>
            <div class="ml-2">  &nbsp;&nbsp;&nbsp;&nbsp; </div>
            <button type="button" class="btn  btn-outline-primary ml-5 " onclick="location.href='@Url.Action("Detail","Product")';"><i class="fa fa-refresh" aria-hidden="true"></i>
            Update Cart</button>
             
             <div class="ml-2">  &nbsp;&nbsp;&nbsp;&nbsp; </div>
            <button type="button" class="btn  btn-outline-success ml-5 " onclick="location.href='@Url.Action("Detail","Product")';">
            Check Out <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
             </div>
           
             
 <script type="text/javascript" >

      let json_model4 = '@Html.Raw(Json.Serialize(ViewBag.userName))';
      var user = JSON.parse(json_model4);

     if (user != null){
            manageWish();
            manageCart();
             $('.cartElements').remove();
         $('.totalNum').remove();
         

         $.ajax({
			    type:"GET",
			    url: '@(Url.Action("addProduct","ProductOrder"))',
                data :{
                    productId: 0,
                    quantity: 0,
                    price : -1
                },
			    dataType:"json",
			    success:function(result){                                  
                        let  cartContent = 0;
                        let  totalPrice = 0;
                        $.each(result,function(key,value){
                            cartContent += 1;
                            totalPrice += value.price;
                            $("<a class='border-bottom cartElements' href='https://localhost:7068/Product/Detail/"+value.id+"' >"+value.name+"<p>"+value.price+"</p><img  style='width:25%;height:25%;' src='"+value.image+"'/></a>").insertBefore("#cartBefore");
                        });
                        $(" <a class='totalNum'>TOTAL: "+totalPrice+"</a>").insertBefore("#cartBefore");
                        $('#cartNumber').text(cartContent);
                        if (cartContent > 0 ){
                            $('#cartNumber').css("opacity","1");
                        } else {
                            $('#cartNumber').css("opacity","0");
                        }
                                
                },
			    error: function(req, status, error){
			    console.log(status);
			    }
                });





        }



         function manageWish(){
                     $('.wish').click(function(event){
                     let val =$(event.target).attr("value");   
                     let valId= parseInt(val);
                     let heart = $(event.target);
		             $.ajax({
			            type:"GET",
			            url: '@(Url.Action("manage","WishList"))',
                        data :{
                            productId: valId,
                            subtitle: subtitleView
                        },
			            dataType:"json",
			            success:function(result){
                            console.log(result);
                            var wishNumber = parseInt($('#wishNumber').text());
                            if (result == "Add")
                            {
                                 $(event.target).removeClass("bx-heart");
                                 $(event.target).addClass("bxs-heart");
                                 $(event.target).parent().removeAttr("title");
                                 $(event.target).parent().attr("title","remove from wishlist"); 
                                 if (wishNumber != 0){
                                    $('#wishNumber').text(wishNumber+1);

                                 }
                                 else{
                                   // $('#wishNumberNav').append("<span class='icon-button__badge' id='wishNumber'>1</span>");
                                    $('#wishNumber').text('1');
                                    $('#wishNumber').css("opacity","1");
                                 }
                                 

			                 }
                             if (result == "Delete")
                             {
                                 $(event.target).removeClass("bxs-heart");
                                 $(event.target).addClass("bx-heart");
                                 $(event.target).parent().removeAttr("title");
                                 $(event.target).parent().attr("title","add to wishlist"); 
                                 if (wishNumber != 1)
                                    $('#wishNumber').text(wishNumber-1);
                                 else{
                                    $('#wishNumber').text('0');
                                    $('#wishNumber').css("opacity","0");
                                 }
                             
                             }
                        },
			            error: function(req, status, error){
			            console.log(status);
			            }
                        });


                      });




                     

             }

              function manageCart(){

                          $('.insideCart').click(function(){                               
                            $('.modal-backdrop').remove();
                             
                             $("input").bind("keyup", function(event){
                                  let val =$(event.target).attr("Id");   
                                  let prodId = val.split("-");
                                  let valId= parseInt(prodId[1]);
                                  let quantity = $('#input-'+prodId[1]).val();
                                  let valQuantity = parseInt(quantity);
                                  let price = $('#pr-'+prodId[1]).text();
                                  let valPrice = parseFloat(price);
                                $('#total-'+prodId[1]).text("total:   "+(valPrice*valQuantity));
                              });
                            $('.addcart').click(function(event){
                              let val =$(event.target).attr("Id");   
                              let prodId = val.split("-");
                              let valId= parseInt(prodId[1]);
                              let quantity = $('#input-'+prodId[1]).val();
                              let valQuantity = parseInt(quantity);
                              let price = $('#pr-'+prodId[1]).text();
                              let valPrice = parseFloat(price);
                             
                              console.log(valPrice);
                              $.ajax({
			                    type:"GET",
			                    url: '@(Url.Action("addProduct","ProductOrder"))',
                                data :{
                                    productId: valId,
                                    quantity: valQuantity,
                                    price : valPrice
                                },
			                    dataType:"json",
			                    success:function(result){                                  
                                     let  cartContent = 0;
                                     let totalPrice = 0;
                                     $('.cartElements').remove();
                                     $('.totalNum').remove();
                                     $.each(result,function(key,value){
                                         cartContent += 1;
                                         totalPrice += value.price;
                                         $("<a class='border-bottom cartElements' href='https://localhost:7068/Product/Detail/"+value.id+"' >"+value.name+"<p>"+value.price+"</p><img  style='width:25%;height:25%;' src='"+value.image+"'/></a>").insertBefore("#cartBefore");
                                     });
                                      $(" <a class='totalNum'>TOTAL: "+totalPrice+"</a>").insertBefore("#cartBefore");
                                      $('#cartNumber').text(cartContent);
                                     if (cartContent > 0 ){
                                         $('#cartNumber').css("opacity","1");
                                     } else {
                                         $('#cartNumber').css("opacity","0");
                                     }



                                
                                },
			                    error: function(req, status, error){
			                    console.log(status);
			                    }
                                });




                              
                                  });
                                  });
                         
                      }








</script>



        

   
   
  </main><!-- End #main -->

  