@{
    ViewData["Title"] = "Order Detail";
        Layout = "~/Views/Shared/_Layout.cshtml";

}

    @model OrderVM


<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs mr-0">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Order Details</h2>
          <ol>
            <li><a asp-controller="Product" asp-action="Index" asp-route-exp="all" asp-route-match="">Products</a></li>
            <li>Order Details</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Order Details Section ======= -->
    @if (@Model.Products.Count() == 0)
    {
        <div class="p-3" style="margin-left:250px;">
				<img src="~/img/117-1170538_404-your-cart-is-empty.png" class="mt-10 w-75 h-75" alt="Cart">
			</div>
    }
    @{var i =0;}
    @foreach(var prod in @Model.Products){
        var subtotal = (@prod.Price * @Model.ProductsOrder[i].Quantity);
        <section id="portfolio-details" class="portfolio-details p-2 sec-@prod.Id">
          <div class="container">
            <div class="row gy-4">        
              <div class="col-lg-9">
                <div class="portfolio-info ">
                    <div class="row ">
                       <div class="col-3">
                            <img src=@prod.Image  class="w-100 h-100" />
                        </div>
                        <ul class="col-5 p-2">
                            <li ><strong>Name</strong>: &nbsp;&nbsp;&nbsp;&nbsp; @prod.Name &nbsp;&nbsp;</li >
                            <li  id="pr-@prod.Id"><strong>Price</strong>: &nbsp;&nbsp;&nbsp;&nbsp; @prod.Price &nbsp;&nbsp;</li >
                     
                            <li class="row mb-2 mt-3 ml-4">
                                <label  class="col-sm-3 form-label font-weight-bold"><strong>Quantity: </strong></label>
                                <div class="col-sm-9">
                                    <input type="number" id="inp-@prod.Id" class="form-control w-75 h-75" value=@Model.ProductsOrder[i].Quantity>
                                </div>                 
                             </li>
                        </ul>

                        <ul class="col-4 border-sm-start-none border-start p-3">
                             <li id="total-@prod.Id"><strong>&nbsp;&nbsp;Total</strong>: &nbsp;&nbsp;&nbsp;&nbsp; @subtotal</li>
                              <li>&nbsp;&nbsp;<a  class="btn btn-outline-danger ml-5 deleteElementFromCart"  value=@prod.Id><i class="fa fa-trash-o" aria-hidden="true"></i>
                               Delete Product</a></li>
                        </ul>
                        @*<div class="col-1 " style="margin:auto;">
                           <button data-toggle="tooltip" data-placement="top" title="delete" class="btn btn-link btn-simple-danger mt-1"> 
									    <i class="fa fa-close text-danger"></i>       
						    </button>
                        </div>*@
                   </div>
                </div>
              </div>
                    @if (@i == 0)
                    {
                            <div class="col-lg-3">
                                <div class="portfolio-info">
                                    <h3>Cart Total</h3>
                                    <ul>
                                       <li><strong>&nbsp;&nbsp;SubTotal</strong>: &nbsp;&nbsp;&nbsp;&nbsp; <span id="totalOrderDetail">0</span></li>
                                      @* <li><strong>&nbsp;&nbsp;Shipping</strong>:</li>
                                       <li >
                                           <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                            Free 0
                                          </label>
                                          </li><li>
                                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                            <label class="form-check-label" for="flexRadioDefault2">
                                            Standard 10
                                          </label>
                                           </li><li>
                                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                            <label class="form-check-label" for="flexRadioDefault3">
                                            Express 20
                                          </label>
                                       </li>*@
                                       <li><a  class="btn btn-outline-primary adding" data-bs-toggle="modal" data-bs-target="#orderModal" style="cursor:pointer;" >&nbsp;&nbsp;Select Address</a></li>

                                    </ul>
                                </div>
                                </div>

                                 <div id="orderModal" class="modal fade">
					                 <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header text-center">
                                            <h4 class="modal-title w-100 font-weight-bold">Add Address</h4>
                                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body mx-3">
                                            <div class="md-form mb-5">
                                              <label >Address: </label>
                                                      <input type="text" value="" id="input-address"/>
                                             
                               
                                            </div>
                                          </div>
                                          <div class="modal-footer d-flex justify-content-center">
                                            <button class="btn btn-default addAddress"  data-bs-dismiss="modal" id= "addAddress">Add</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                    }
            </div>
         </div>
      </section><!-- End Portfolio Details Section -->

      i++;

  }

@*   <div ><strong>&nbsp;&nbsp;Total</strong>: &nbsp;&nbsp;&nbsp;&nbsp; <span id="totalOrderDetail">0</span></div>
*@@*
    
   <section id="portfolio-details" class="portfolio-details" >
      <div class="container" style="margin-left:10%;">

        <div class="row gy-4">

         
          <div class="col-lg-10">
            <div class="portfolio-info ">
              <h3>blahhhhh</h3>



     <div class="row ">
              <ul class="col-5">



<li><strong>Price</strong>: &nbsp;&nbsp;&nbsp;&nbsp; 9000000 &nbsp;&nbsp;
</li>



                       

            <li class="row mb-2 mt-3 ml-4">
                    <label  class="col-sm-3 form-label font-weight-bold"><strong>Quantity: </strong></label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control w-25 h-75" >
                    </div>
                
                </li>
                
            

                <li><strong>Total</strong>: &nbsp;&nbsp;&nbsp;&nbsp; 9000000</li>

                  </ul>


                  <div class="col-6">


                    <img src="~/img/more-services-1.jpg " style="width:230px;height:120px;" />
                  </div>
                   <div class="col-1 " style="margin:auto;">

                    <a href="#"><i class="fa fa-close text-danger" ></i></a>
                  </div>
                  </div>

          

             




            </div>
              </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

*@

              <div class="row-sm-10 d-flex flex-row mt-12" style="margin:auto;margin-top:5%;">
            <button type="button" class="btn btn-outline-danger ml-5" onclick="location.href='@Url.Action("DeleteAll","Order")';"><i class="fa fa-trash-o" aria-hidden="true"></i>
            Reset Cart</button>

          @*  <div class="ml-2">  &nbsp;&nbsp;&nbsp;&nbsp; </div>
            <button type="button" class="btn  btn-outline-primary ml-5 " onclick="location.href='@Url.Action("Detail","Product")';"><i class="fa fa-refresh" aria-hidden="true"></i>
            Update Cart</button>*@
             
             <div class="ml-2">  &nbsp;&nbsp;&nbsp;&nbsp; </div>
            <button type="button" class="btn  btn-outline-success ml-5 " onclick="location.href='@Url.Action("Create","Order")';">
            Check Out <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
             </div>
           
             
 <script type="text/javascript" >

    
      let json_model4 = '@Html.Raw(Json.Serialize(ViewBag.userName))';
      var user = JSON.parse(json_model4);

     if (user != null){
            manageWish();
            manageCart();
            deleteElement();
            manageAddress();
             $('.cartElements').remove();
         $('.totalNum').remove();
         

         $.ajax({
			    type:"GET",
			    url: '@(Url.Action("addProduct","ProductOrder"))',
                data :{
                    productId: 0,
                    quantity: 0,
                    price : -1
                },
			    dataType:"json",
			    success:function(result){                                  
                        let  cartContent = 0;
                        let  totalPrice = 0;
                        $.each(result,function(key,value){
                            cartContent += 1;
                            totalPrice += value.price;
                            $("<a class='border-bottom cartElements' href='https://localhost:7068/Product/Detail/"+value.id+"' id='notify-"+value.id+"'>"+value.name+"<p>"+value.price+"</p><img  style='width:25%;height:25%;' src='"+value.image+"'/></a>").insertBefore("#cartBefore");
                        });
                        $(" <a class='totalNum'>TOTAL: "+totalPrice+"</a>").insertBefore("#cartBefore");
                        $("#totalOrderDetail").text(""+totalPrice);
                        $('#cartNumber').text(cartContent);
                        if (cartContent > 0 ){
                            $('#cartNumber').css("opacity","1");
                        } else {
                            $('#cartNumber').css("opacity","0");
                        }
                                
                },
			    error: function(req, status, error){
			    console.log(status);
			    }
                });





        }



         function manageWish(){
                     $('.wish').click(function(event){
                     let val =$(event.target).attr("value");   
                     let valId= parseInt(val);
                     let heart = $(event.target);
		             $.ajax({
			            type:"GET",
			            url: '@(Url.Action("manage","WishList"))',
                        data :{
                            productId: valId,
                            subtitle: subtitleView
                        },
			            dataType:"json",
			            success:function(result){
                            console.log(result);
                            var wishNumber = parseInt($('#wishNumber').text());
                            if (result == "Add")
                            {
                                 $(event.target).removeClass("bx-heart");
                                 $(event.target).addClass("bxs-heart");
                                 $(event.target).parent().removeAttr("title");
                                 $(event.target).parent().attr("title","remove from wishlist"); 
                                 if (wishNumber != 0){
                                    $('#wishNumber').text(wishNumber+1);

                                 }
                                 else{
                                   // $('#wishNumberNav').append("<span class='icon-button__badge' id='wishNumber'>1</span>");
                                    $('#wishNumber').text('1');
                                    $('#wishNumber').css("opacity","1");
                                 }
                                 

			                 }
                             if (result == "Delete")
                             {
                                 $(event.target).removeClass("bxs-heart");
                                 $(event.target).addClass("bx-heart");
                                 $(event.target).parent().removeAttr("title");
                                 $(event.target).parent().attr("title","add to wishlist"); 
                                 if (wishNumber != 1)
                                    $('#wishNumber').text(wishNumber-1);
                                 else{
                                    $('#wishNumber').text('0');
                                    $('#wishNumber').css("opacity","0");
                                 }
                             
                             }
                        },
			            error: function(req, status, error){
			            console.log(status);
			            }
                        });


                      });




                     

             }

              function manageCart(){

                         
                             
                             $("input[type=number]").bind("keyup", function(event){
                                  let val =$(event.target).attr("Id");   
                                  let prodId = val.split("-");
                                  let valId= parseInt(prodId[1]);
                                  let quantity = $('#inp-'+prodId[1]).val();
                                  let valQuantity = parseInt(quantity);
                                  let price = $('#pr-'+prodId[1]).text();
                                  let price2 = price.split(":");
                                  let valPrice = parseFloat(price2[1]);
                                $('#total-'+prodId[1]).html("<strong>&nbsp;&nbsp;Total</strong>: &nbsp;&nbsp;&nbsp;&nbsp; "+(valPrice*valQuantity));
                              
                           
                              $.ajax({
			                    type:"GET",
			                    url: '@(Url.Action("addProduct","ProductOrder"))',
                                data :{
                                    productId: valId,
                                    quantity: valQuantity,
                                    price : valPrice
                                },
			                    dataType:"json",
			                    success:function(result){                                  
                                     let  cartContent = 0;
                                     let totalPrice = 0;
                                     $('.cartElements').remove();
                                     $('.totalNum').remove();
                                     $.each(result,function(key,value){
                                         cartContent += 1;
                                         totalPrice += value.price;
                                         $("<a class='border-bottom cartElements' href='https://localhost:7068/Product/Detail/"+value.id+"' id='notify-'"+value.id+">"+value.name+"<p>"+value.price+"</p><img  style='width:25%;height:25%;' src='"+value.image+"'/></a>").insertBefore("#cartBefore");
                                     });
                                      $(" <a class='totalNum'>TOTAL: "+totalPrice+"</a>").insertBefore("#cartBefore");
                                      $("#totalOrderDetail").text(""+totalPrice);

                                      $('#cartNumber').text(cartContent);
                                     if (cartContent > 0 ){
                                         $('#cartNumber').css("opacity","1");
                                     } else {
                                         $('#cartNumber').css("opacity","0");
                                     }



                                
                                },
			                    error: function(req, status, error){
			                    console.log(status);
			                    }
                                });




                             });  
                                 
                                 
                         
                      }

                      function deleteElement(){


                          $('.deleteElementFromCart').click(function(event){
                              let val =$(event.target).attr("value");   
                              let valId= parseInt(val);
                               $.ajax({
			                    type:"GET",
			                    url: '@(Url.Action("deleteProduct","ProductOrder"))',
                                data :{
                                    productId: valId,
                                   
                                },
			                    dataType:"json",
			                    success:function(result){
                                    $('.sec-'+valId).remove();
                                    $('#notify-'+valId).remove();
                                     $('.totalNum').remove();
                                    // $.each(result,function(key,value){
                                     //    cartContent += 1;
                                       //  totalPrice += value.price;
                                       //  $("<a class='border-bottom cartElements' href='https://localhost:7068/Product/Detail/"+value.id+"' id='notify-"+value.id+"'>"+value.name+"<p>"+value.price+"</p><img  style='width:25%;height:25%;' src='"+value.image+"'/></a>").insertBefore("#cartBefore");
                                     //});
                                      $(" <a class='totalNum'>TOTAL: "+result+"</a>").insertBefore("#cartBefore");
                                      $("#totalOrderDetail").text(""+result);
                                      let cartContent = $('#cartNumber').text();
                                      $('#cartNumber').text(parseInt(cartContent)-1);
                                     if (cartContent-1 > 0){
                                         $('#cartNumber').css("opacity","1");
                                     } else {
                                         $('#cartNumber').css("opacity","0");
                                     }
                                     console.log(result);



                                
                                },
			                    error: function(req, status, error){
			                    console.log(status);
			                    }
                                });
                               




                          })
                      }

                        function manageAddress(){

                          $('.adding').click(function(){                               
                          $('.modal-backdrop').remove();
                             
                            
                            $('.addAddress').click(function(event){
                              let val =$('#input-address').val();   
                            
                             if (val != null){
                                  $.ajax({
			                        type:"GET",
			                        url: '@(Url.Action("addAddress","Address"))',
                                    data :{
                                        location: val
                                   
                                    },
			                        dataType:"json",
			                        success:function(result){     
                                        console.log(result);
                                    

                                
                                    },
			                        error: function(req, status, error){
			                        console.log(status);
			                        }
                                    });
                                }



                              
                                  });
                                  });
                         
                      }








</script>



        

   
   
  </main><!-- End #main -->

  