@{
    ViewData["Title"] = "Order Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    @model IEnumerable<Order> 




<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs mr-0">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Order Details</h2>
          <ol>
            <li><a asp-controller="Product" asp-action="Index" asp-route-exp="all" asp-route-match="">Products</a></li>
            <li>Order Details</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->





 
    <!-- ======= Portfolio Section ======= -->
    <section  class="portfolio" style="overflow:inherit;">
      <div class="container">
          <div class="text-center">


          @if (@Model.Count() == 0)
            {
                <div class="p-3" style="margin-left:250px;">
				        <img src="~/img/117-1170538_404-your-cart-is-empty.png" class="mt-10 w-75 h-75" alt="Register">
			        </div>
            }else{
          <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
@*                  <th scope="col">Address</th>
*@                  <th scope="col">State</th>
                  <th scope="col">Total</th>
                  <th scope="col">Date</th>
                  <th scope="col">Detail</th>

                </tr>
              </thead>
              <tbody>
                    @{
                        var i = 0;
                    }
                    @foreach (var order in @Model) {
                        <tr>
                            <th scope="row">@i</th>
                            @*<td>@order.Shipping.Address</td>*@
                            <td>@order.State</td>
                            <td>@order.Total</td>
                            <td>@order.CreatedDate.ToString("g")</td>
                            <td>
                                <a asp-controller="ProductOrder" asp-action="GetProductsOrder" asp-route-orderId=@order.Id>
								    <button type="button" data-toggle="tooltip" data-placement="top" title="Detail" class="btn btn-link btn-simple-primary btn-lg" data-original-title="Detail Task">
									    <i class="fa fa-info-circle"></i>
								    </button>
							    </a>
                            </td>

                        </tr>
                       i++;
                    }
                  
              </tbody>
            </table>

            }
         </div>
      </div>
    </section><!-- End Portfolio Section -->
   </main>

    